* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0D0D0D;
    color: #fff;
}

.body2 {
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;

}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #000;
    z-index: 9999;

}

.nav-principal {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #D4AF37;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.nav-principal a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: 0.3s;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    color: #000000;
}

.secao {
    text-align: center;
    padding: 0 30px 0 30px;
    margin: 0 30px 0 30px;
}

aside {
    background-color: #1d1d1d;
    border-radius: 20px;
    max-width: 300px;
    height: auto;
    padding: 10px 10px 0 10px;
    text-align: center;
    margin: 0 0 0 30px;
}

aside img.imdb {
    width: 40px;
    height: auto;
}

aside img.outros {
    width: 30px;
    height: auto;
}

aside .logos {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
}

#filmes {
    background-color: #181818;
    padding-bottom: 15px;
    border-radius: 15px;
    transition: all 0.3s ease;
}






h1 {
    color: #FFD700;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    background-color: #474747;
    color: #FFFFFF;
    border-radius: 15px;
    letter-spacing: 4px;
    padding: 5px;
    margin: 10px;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.5);

}

h3 {
    background-color: gold;
    border-radius: 15px;
    padding: 5px;
    border-color: white;
    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.5);
    letter-spacing: 3px;
}

span {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #CCCCCC;
}

p {
    font-size: 14px;
    color: #CCCCCC;
    text-align: justify;
}








.categoria {
    margin-bottom: 30px;
    z-index: 999;
    scroll-margin-top: 100px;
}

.categoria .conteudo {
    overflow: hidden;
    transition: height 0.4s ease, opacity 0.4s ease;
}

.topicos {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.card {
    position: relative;
    z-index: 1;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 calc(33.33% - 13px);
    background: #1d1d1d;
    border-radius: 10px;
    width: 280px;
}

.card:hover {
    transform: translateY(-10px);
    filter: brightness(1.1);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.topo-card {
    display: flex;
    gap: 10px;
}

.top {
    background: #D4AF37;
    width: 50px;
    margin-bottom: 15px;
    padding: 5px 15px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.card:hover .top {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.titulo {
    background: #333;
    margin-bottom: 15px;
    padding: 5px 15px;
    align-self: center;
    border-radius: 10px;
    width: 100%;
}

.conteudo-card {
    display: flex;
    gap: 15px;
    align-items: center;
}

.conteudo-card img {
    width: 140px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.conteudo-card:hover img {
    transform: scale(1.05);
}

.conteudo-card img.imdb {
    width: 20px;
    height: auto
}

.conteudo-card img.outros {
    width: 15px;
    height: auto
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    align-self: center;
}

.trailer {
    color: gold;
    text-decoration: none;
    padding: 5px;
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
    margin-right: auto;
    margin-top: 10px;
}

.alta {
    background: #333;
    color: gold;
    width: 40px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px 5px 5px 8px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-shadow: none;
    align-items: center;
    align-content: center;
}












.carrossel-categoria {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.esquerda, .direita {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    border-radius: 5px;
    z-index: 10;
    background: gold;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.esquerda {
    left: 0;
}

.direita {
    right: 0;
}











.escondido {
    opacity: 0;
    pointer-events: none;
}

.alternar-botao {
    width: 150px;
    max-height: 20px;
    background-color: gold;
    border-radius: 5px;
    border-style: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
    cursor: pointer;
}

.alternar-botao:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}